{% extends 'main.html' %}
{% load static %}
{% block common %}

    {% include 'main menu.html'%}
    <br><br>
    <table align="center" border="0">
    <tr>
        <th>
            <img src="{% static 'images/download.jpg'%}" width="450" height="450">
        </th>
        <th>
            <p style="font-family: 'Andale Mono';background-color: magenta;color: aliceblue;font-size: 30px">A general merchant store (also known as general merchandise store, general dealer or village shop) is a rural or small-town store that carries a general line of merchandise.[1] It carries a broad selection of merchandise, sometimes in a small space, where people from the town and surrounding rural areas come to purchase all their general goods. The store carries routine stock and obtains special orders from warehouses. It differs from a convenience store or corner shop in that it will be the main shop for the community rather than a convenient supplement.</p>
        </th>
    </tr>
    </table>



{% endblock %}
